@use '../base/variables' as v;
@use '../base/mixins' as m;

// Header Component
.header {
	padding: v.$spacing-md 0;

	&__container {
		margin: 0 auto;
		padding: m.fs(30) m.fs(80);
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}

// Branding Component
.branding {
	&__logo {
		display: block;
	}

	&__image {
		height: auto;
		max-height: 40px;
	}
}
